{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "importOrder": [
    "^react(.*)",
    "^@reduxjs(.*)",
    "<THIRD_PARTY_MODULES>",
    "^@components/(.*)$",
    "^@view/(.*)",
    "^@interface/(.*)",
    "^@redux/(.*)",
    "^@slices/(.*)",
    "^@services/(.*)",
    "^@assets/(.*)",
    "^@utils/(.*)",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}
